<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <title>Google Calendar integration example</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<h1>Here come the events</h1>
<h2>Events</h2>
<table>
    <tr th:each="event : ${events}">
        <td th:text="${event.summary}">Dummy Event</td>
        <td th:text="${event.start}">Dummy Event</td>
        <td th:text="${event.end}">Dummy Event</td>
    </tr>
</table>
</body>
</html>